<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAlarmService" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ITagService" />
                <binding name="WSDualHttpBinding_IAlarmValueService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60822/TagService.svc/tag"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ITagService"
                contract="AlarmValueServiceReference.ITagService" name="WSDualHttpBinding_ITagService">
                <identity>
                    <userPrincipalName value="DESKTOP-VDG0TOL\marko" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:60822/TagService.svc/alarmvalue"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAlarmValueService"
                contract="AlarmValueServiceReference.IAlarmValueService" name="WSDualHttpBinding_IAlarmValueService">
                <identity>
                    <userPrincipalName value="DESKTOP-VDG0TOL\marko" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:60822/TagService.svc/alarm"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAlarmService"
                contract="AlarmValueServiceReference.IAlarmService" name="BasicHttpBinding_IAlarmService" />
        </client>
    </system.serviceModel>
</configuration>