<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReportService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60822/ReportService.svc/report"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportService"
                contract="ReportServiceReference.IReportService" name="BasicHttpBinding_IReportService" />
        </client>
    </system.serviceModel>
</configuration>