<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ITagService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60822/TagService.svc/tag"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ITagService"
                contract="TagServiceReference.ITagService" name="WSDualHttpBinding_ITagService">
                <identity>
                    <userPrincipalName value="DESKTOP-KEIJJ3M\gligo" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>