<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITagService" />
                <binding name="BasicHttpBinding_IUserService1" />
                <binding name="BasicHttpBinding_IUserService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60822/TagService.svc/tag"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITagService"
                contract="TagServiceReference.ITagService" name="BasicHttpBinding_ITagService" />
            <endpoint address="http://localhost:60822/UserService.svc/user"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService1"
                contract="UserServiceReference.IUserService" name="BasicHttpBinding_IUserService1" />
        </client>
    </system.serviceModel>
</configuration>